.home{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home button{
  padding:5px 8px;
  border: none;
  background-color: rgb(63, 180, 63);
  border-radius: 5px;
}
.home button a{
  text-decoration: none;
  color: white;
}